[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
uuid = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
python-multipart = "*"
asyncpg = "*"
psycopg = {extras = ["binary"], version = "*"}
alembic = "*"
passlib = {extras = ["bcrypt"], version = "==1.7.4"}
bcrypt = "==4.0.1"
python-jose = {extras = ["cryptography"], version = "*"}

[dev-packages]

[requires]
python_version = "3.13"
